@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Londrina+Solid);

html {
  position: relative;
  min-height: 100%;
}




h1, h2, h3, p{
  color: white;
}

h1 {
  font-family: 'Londrina Solid', sans-serif;
  font-size: 100px !important;
}


h2 {
  font-family: 'Londrina Solid', sans-serif;
  font-size: 50px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
  color: white;
}

.main-content {
  background: rgba(0,0,0,0.6);
  outline: white solid thick;
  padding: 40px;
}

.main-heading {
  padding-bottom: 40px;
  line-height: 1;
}

a:link {
text-decoration:none;
}


body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-image: url(/images/orlandosunset.jpg)*/
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.main-email {
  max-width: 500%;
  margin: 0 auto;
}

#mce-EMAIL {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  /*color: white;*/
  height: 40px;
  /*background-color: transparent;*/
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
